@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	width:100%;
	background-color: #fff;
	color: #15254C;
	margin: 0;
	font: 14px Arial, Helvetica, sans-serif;
}
h3 {
	text-align: center;
	font-size: 150%;
	padding: 0;
}
h2 {
	text-align: center;
	font-size: 200%;
	padding: 0px;
}
h1 {
	text-align: center;
	font-size: 250%;
	padding: 0px;
}
p {
	padding: 1%;
	font-size: 140%;
}
li {
	font-size: 140%;
	margin-left: 40px;
}
#logo img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
a {
	text-decoration: none;
	color: #15254c;
}
header a {
	color: #fff;
}
nav a:hover {
	color:#fff;
	text-decoration: underline;
}
nav a:active {
	color: #fff;
	text-decoration: underline;
}
header {
	background-color: #15254c;
	color: #fff;
	width: 100%;
	height: 100px;
	z-index: 100;
	padding: 0 1% 1% 0;
	top: 0;
	left: 0;
	position: fixed;
}
#logo {
	margin-left: 1%;
	margin-top: 1%;
	float: left;
	width: 250px;
	height: 100%;
}
nav {
	float: right;
	display: inline-block;
	padding: 50px 20px 40px 0;
}
#menu-icon {
	display: none;
}
a:hover #menu-icon {
	border-radius: 4px 4px 0 0;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 10px 20px 0 0;
	margin-left: 0;
	font-size: 160%;
}
.current {
	color: #fff;
	text-decoration: underline;
}
#doc {
	margin: 0 auto;
	background-color: #fff;
	width: 100%;
	max-width: 1000px;
	opacity: 0.9;
	padding: 20px 0px;
}
#doc h1 {
	margin: 30px 0 10px 0;
}
#content {
	margin: 0 auto;
	max-width: 1000px;
}
.photo-gallery {
	max-width: 800px;
	margin: 20px auto;
}
.full {
	width: 100%;
	height:auto;
	background-color:#CCC;
	margin:0 auto;
	padding:110px 0 1% 0;
}
#body .full {
	padding-top: 10px;
}
.full h1 {
	text-align: center;
	color: #15254c;
	padding:1% 0;
}
.full h3 {
	text-align: center;
	color: #fff;
	padding: 10px;
	border: #fff 2px solid;
	width: 50%;
	margin: 10% auto;
}
section h2 {
	margin-top: 30px;
}
section.third {
	padding-top: 10px;
	max-width: 1000px;
	margin:0 auto;
	width: 100%;
}
section.end {
		padding-top: 10px;
}
section.third a, section.end a {
	color: #15254c;
	font-size: 36;
}
.img img {
	margin-left:43%;
	width:150px;
	padding-top:5px;
}
section.third {
	width: 31%;
	float: left;
	margin: 1% 2% 1% 0;
	text-align:center;
	background-color: #fff;
	height: auto;
}
section.third p {
	font-size: 130%;
	padding-top: 10px;
	padding-bottom: 15px;
}
section.third h2 {
	padding-top: 15px;
	margin-bottom:10px;
	text-align:left;
}
.end {
	width: 31%;
	float: left;
	margin: 1% 0 1% 2%;
	text-align:center;
	background-color: #fff;
	height: auto;
}
.end p {
	padding-top:10px;
}
.end h2 {
	padding-top: 15px;
	margin-bottom:10px;
	text-align:left;
}
section.half {
	width: 48%;
	float: left;
	text-align: left;
	margin: 1% auto;
	background-color: #fff;
	height: auto;
	padding: 0 1%;
	display: inline;
}
.half img {
	padding: 1% 0 1% 1%;
}
.half h2 {
	text-align:left;
	padding: 1% 0 1% 1%;
}
section.third img, section.half img, section.end img {
	text-align: center;
}

section.half ul li {
	text-align: left;
}
section.third ul li, section.half ul li, section.end ul li {
	font-size: 140%;
	color: #15254c;
	list-style: circle;
	padding-left: 15px;
	margin-left: 50px;
	padding-top: 5px;
}
ul.second {
	margin-left: 50px;
}
ul.three {
	margin-left: 50px;
}
ul.second li a:hover {
	color: #15254c;
	text-decoration: underline;
}
ul p {
	margin-left: 70px;
}
table {
	margin: 10px auto;
	font-size: 140%;
	text-align: center;
	width: 100%;
	max-width: 1000px;
}
form {
	display: block;
	color: #15254c;
	margin-left: 40px;
}
form li {
	list-style-type: none;
}
label {
	font-size: 140%;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 10px;
	vertical-align: top;
	width: 100px;
	display: block;
}
input {
	width: 100%;
	max-width: 400px;
	height: 40px;
	margin: 10px;
	border: 1px solid #15254c;
	color: #15254c;
	font-size: 140%;
}
textarea {
	width: 100%;
	max-width: 800px;
	height: 250px;
	margin-left: 10px;
	border: 1px solid #15254c;
	padding-left: 10px;
	color: #15254c;
	font-size: 140%;
	padding-top: 10px;
}
.sublabel {
	padding-left: 10px;
	font-style:italic;
	color: #999999;
	font-size: 110%;
	margin-top: 50px;
}
.submit {
	background-color: #15254c;
	border: none;
	color: #fff;
	width: 100%;
	max-width: 150px;
	font-style: normal;
	font-weight: bold;
	font-size: 140%;
}
.clear {
	clear: both;
}
footer {
	margin: 1% 0 0 0;
	height: 150px;
	width: 100%;
	background-color: #15254c ;
	color: #fff;
}
.left {
	width: 33.3333%;
	background-color: #15254c;
	color: #fff;
	margin: 0 auto;
	float: left;
	max-height: 100px;
	padding-top: 3.5%;
	opacity: 10;
}
.middle {
	width: 33.3333%;
	height: 100px;
	background-color: #15254c;
	color: #fff;
	margin: 0 auto;
	float: left;
	padding-top:3%;
	text-align: center;
}
.right {
	max-height: 100px;
	width: 33.3333%;
	background-color: #15254c;
	color: #fff;
	margin: 0 auto;
	float: left;
	padding: 3.5% 0;
}
ul.social li {
	display: inline;
	margin: 0 auto;
	width: 100%;
}
ul.social li img {
	height: 50px;
	padding: 1%;
}

/*----------------------------------------MEDIA!!!_______----------*/

@media screen and (max-width: 500px) {
	body {
		position: absolute;
	}
	ul.social li.first {
		margin-left: 5%;
	}
}


@media screen and (max-width: 950px){
	header {
		position: absolute;
		min-height: 120px;
	}

	#menu-icon {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-image: url(../images/logos/menu.png) center;
		padding: 0px 20px 50px 0px;
	}

	#menu-icon a:hover {
		text-decoration: underline;
	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		background: #15254c;
		width: 50%;
		right: 20px;
		top: 60px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 1% 5%;
		margin: 0;
		border: #fff solid 1px;
	}

	nav:hover ul {
		display: block;
	}

	.full {
		width: 100%;
		min-width: 450px;
		max-width: 950px;
		height: 100%;
		max-height: 600px;
		min-height: 100px;
		padding: 1% 0;
		opacity: 0.9;
		background: url(../images/1.jpg) center no-repeat;
		background-position:center;
	}

	section {
		background-color: #fff;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	section.third {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	section.half {
		float: left;
		width: 100%;
		padding: 10px;
		text-align: center;
		margin: 0 auto;
	}
	.left {
		float: left;
		margin: 0;
		padding:10px 0;
		width:100%;
	}
	.middle {
		float: left;
		margin: 0;
		padding: 10px 0;
		width:100%
	}
	.right {
		float: left;
		margin: 0;
		padding: 10px 0;
		width:100%
	}

	footer {
		margin: 0 auto;
		height: 250px;
		background-color: #15254c ;
		color: #fff;
	}
	ul.social li.first {
		margin-left: 33.33%;
	}
}
